* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

body {
    background-image: url(./ht.jpg);
    height: 100%;
}

.navbar-nav {
    gap: 20px;
}

.img1 {
    width: 150px;
    height: 150px;
    border-radius: 100%;

    margin-left: 10%;
}

.me {
    justify-content: center;
    margin-top: 15%;
    margin-left: 45%;
    font-size: 15px;
    height: 30%;
}

.me h2 {
    font-size: 40px;
    color: white;
}

.me p {
    color: white;
}

.cont {
    display: flex;
    margin-left: 10%;
    gap: 30px;
    margin-top: 16%;
    font-size: 15px;
    color: white;
    height: 30%;
}

.cont h2 {
    color: white;
}

.cont2 {
    padding: 15px 15px;
    display: flex;
    gap: 250px;
    border: solid rgb(126, 73, 53) 2px;
}

.img2 {
    height: 35%;
    width: 35%;
    border-radius: 10px;
}

button {
    width: 150px;
    height: 40px;
    background-color: rgb(126, 73, 53);
    color: white;
    border: none;
    border-radius: 5px;
}

.min {
    justify-content: center;
    margin-left: 10%;
    margin-top: 9%;
}

.min h4 {
    color: rgb(126, 73, 53);
}

.min h2 {
    color: white;
}

.super {
    display: flex;
    width: 80%;
    gap: 30px;
}